<%= form_for(@url) do |f| %>
  <%= render "shared/error_messages", target: @url %>

  <div class="field">
    <%= f.label :original_url %>
    <%= f.text_field :original_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
