<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", target: @user %>
  <fieldset>
    <ol>
      <li>
        <%= f.email_field :email,
                        placeholder: "Email",
                        autofocus: true,
                        required: true,
                        class: "autofocus_input" %>
      </li>
      <li>
        <%= f.password_field :password,
                        title: 'Needs to be at least 6 characters and include one number and one letter.',
                        placeholder: "Password",
                        required: true,
                        pattern: '(?=.*[a-zA-Z])(?=.*[0-9]).{6,}' %>
      </li>
      <li>
        <%= f.password_field :password_confirmation,
                        placeholder: "Confirm Password",
                        required: true %>
      </li>
      <li>
        <%#= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= check_box_tag :remember_me, 1, checked: true %>
        <%= label_tag :remember_me %>
      </li>
    </ol>
  </fieldset>
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>