<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", target: @user %>
  <fieldset>
    <ol>
      <li>
        <%= f.text_field :email, placeholder: "Email", autofocus: true %>
      </li>
      <li>
        <%= f.password_field :password, placeholder: "Password" %>
      </li>
      <li>
        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
      </li>
      <li>
        <%#= check_box_tag :remember_me, 1, params[:remember_me] %>
        <%= check_box_tag :remember_me, 1, checked: true %>
        <%= label_tag :remember_me %>
      </li>
    </ol>
  </fieldset>
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>