<h1>Registered Users: <%= @users.count %></h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Urls Saved</th>
      <th>Last Logged In</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user.id) %></td>
        <td><%= user.urls.size %></td>
        <td><%= user.last_login.strftime('%m/%d/%Y %I:%M %p') %></td>
        <td><small><%= link_to '(delete)', user, method: :delete, data: { confirm: 'Are you sure?' } %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>