<% provide(:title, 'All Users') %>
<h1>Registered Users: <%= @users.count %></h1>

<table>
  <thead>
    <tr>
      <th><%= sortable 'email' %></th>
      <th><%= sortable 'urls_count', 'Urls Saved' %></th>
      <th><%= sortable 'last_login', 'Last Logged In' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate @users %>