<%= link_to ":D", root_path, class: "pull_left", id: "logo_top" %>
<%= link_to "Menu", "#nav", class: "pull_right", id: "nav_menu", data: { no_turbolink: true } %>
<ul>
	<% if current_user %>
		<li class="pull_right">Logged in as <%= current_user.email %></li>
		<li class="pull_right"><%= link_to "Log Out", logout_path %></li>
	<% else %>
		<li class="pull_right"><%= link_to "Smile and sign up", signup_path %></li>
		<li class="pull_right"><%= link_to "Log In", login_path %></li>
	<% end %>
</ul>