<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield :title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="container">
		<nav role="navigation">
			<%= render "layouts/topnav" %>
		</nav>

		<header role="banner">
			<h1><%= link_to "LOL", root_path %></h1>
		</header>

		<section role="main">
			<%= render "shared/flash" %>
			<%= yield %>
		</section>
	</div>
	<footer role="contentinfo">
		<%= render "layouts/footer" %>
	</footer>
</body>
</html>
