<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title><%= full_title(yield :title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<nav role="navigation">
		<%= render "layouts/topnav" %>
	</nav>

	<header role="banner">
		<h1><%= link_to "LOL", root_path %></h1>
	</header>

	<section role="main">
		<% flash.each do |key, msg| %>
			<%= content_tag :div, msg, id: key %>
		<% end %>
		<%= yield %>
	</section>

	<footer role="contentinfo">
		<%= render "layouts/footer" %>
	</footer>
</body>
</html>
